@charset "utf-8";

#screen-meta-links,
#edit-slug-box,
#enquete_meta_box h3.hndle,
#enquete_meta_box .handlediv,
#submitdiv h3.hndle,
#submitdiv .handlediv,
#add_video,
#add_audio,
#add_media,
#alert_message,
#close_alert_message,
#content_path_row {
	display: none;
}
#enquete_meta_box h3.hndle span {
	font-size: 22px;
	font-weight: normal;
}
#enquete_meta_box h4 {
	border-bottom: 1px solid #ccc;
	font-size: 18px;
	margin-bottom: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	font-weight: normal;
}
#poststuff #submitdiv .inside,
#poststuff #enquete_meta_box .inside {
	font-size: 13px;
}
.editor_template_table {
	width: 100%;
}
.editor_template_table th {
	padding: 10px 3px 3px;
	text-align: left;
	vertical-align: top;
	border-right: 1px solid #666;
	border-bottom: 1px solid #ddd;

}

.editor_template_table th.time {
	width: 15%;
}
.editor_template_table th.understand,
.editor_template_table th.valuable {
	width: 10%;
}

.editor_template_table td {
	padding: 10px 3px 3px;
	border-bottom: 1px solid #ddd;
}

.editor_template_table .head th {
	background: #ddd;
}

.editor_template_table .odd th,
.editor_template_table .odd td {
	background: #ececec;
}

.editor_template_table .full-width {
	width: 100%;
}
.editor_template_table .length_s {
	width: 80px;
}
.editor_template_table .length_m {
	width: 150px;
}

.inner_table th {
	width: auto;
	font-weight: normal;
	border: none;
	padding-top: 5px;
	white-space: nowrap;
}
.inner_table td {
	padding-top: 0;
	border-bottom: none;
}

.notice {
	color: blue;
}

#post_title {
    border-radius: 6px 6px 6px 6px;
    border-style: solid;
    border-width: 1px;
    font-size: 1.7em;
    line-height: 100%;
    outline: medium none;
    padding: 3px 4px;
    width: 100%;
}

#sample_image li {
	float: left;
	margin-right: 10px;
}
#sample_image label {
	display: block;
	padding: 5px;
	background: #eee;
}
#post-body .wp_themeSkin .mceLast .mceStatusbar a.mceResize {
	top: -3px;
}
#post-body .wp_themeSkin .mceFirst .mceToolbar,
#quicktags #ed_toolbar {
	display: none;
}
.undisplayed {
	background: #eee;
	padding: 5px;
}

#main_image {
	margin-bottom: 5px;
}
#main_image_input {
	margin-top: 10px;
}

#event_date_box {
	float: left;
	margin-right: 10px;
}

#event_time_notice {
	display: inline;
}

#section_alert {
	background: #fff4f4;
	margin-bottom: 10px;
}

#poststuff #section_alert h3 {
	font-size: 16px;
	background: none;
	font-weight: normal;
	text-align: right;
}
#alert_message {
	padding: 10px;
}
#section_alert #alert_message p {
	font-size: 12px;
	line-height: 1.6;
}

.required {
	color: #f00;
	font-size: 80%;
	font-weight: normal;
	white-space: nowrap;
	line-height: 1.8;
}

.required:before {
	content: ' ';
	white-space: normal;
}

#major-publishing-actions #publishing-action {
	float: left;
	text-align: left;
}

#ajax-loading {
	float: right;
	padding: 5px 0 0 7px
}

#major-publishing-actions #delete-action {
	float: right;
}

.submitbox #minor-publishing-actions {
	text-align: left;
}

#preview-action {
	padding-top: 5px;
}

#message p {
	font-size: medium;
}

#content {
	width: 100%;
}

input.session {
	ime-mode: disabled;
}